body{
	background-color: #4e4e4e;
}
.color_one{
	background-color: #ec2045;
}
.color_two{
	background-color: #a2d49f;
}
.color_three{
	background-color: #c7c12f;
}
.color_four{
	background-color: #f26247;
}
.primary{
	/*background-color: #ffedaf;*/
	background-color: #ec2045;
}

a {
	color : white !important;
}

.navbar{
	border: 1px solid white;
	border-radius: 0px;
}

a:hover { 
	color : #a2d49f !important;
}

.navbar-nav li a {
 line-height: 30px;
}

#logo{
  display: block;

}

.col-abs-center{
	float: none;
	position:absolute;
	left:40%;
	top:30%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}