/* Globals */
body{
	background-color: rgba(128,128,128,0.5);
	height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{ 
	color: #D8C9AC;
	font-family: 'Zilla Slab', serif;
}

h1{
	font-size: 48px;
}

a {
	color :  #D8C9AC;
	font-family: 'Zilla Slab', serif;
}

ul > li > a:hover { 
	background-color: #f26247 !important; 
 	color: #eeeeee !important;
}


/* Classes */
.carousel{
	 /* background: -moz-linear-gradient(right, rgba(255,0,0,0), #151515); 
	 background: linear-gradient(to right, rgba(15,15,15,0.5), #151515); */
	 background: #101010;
}

.primary{
	/*background-color: #ffedaf;*/
	background-color: #151515; /*rgba(236, 32, 69, 1.0); */
}

.color_one{
	background-color: #151515;	
}

.color_one:hover{
	background-color: #151515;	
	border: 1px solid #D8C9AC;
}

.color_two{
	background-color: #aaaaaa;
}

.color_three{
	background-color: #17322D;
}

.hilight_color{
	background-color: #f26247;
}

.navbar{
	border: none;
	border-radius: 0px;
}

.navbar li a {
 line-height: 10px;
 height:40px;
 margin-right: 10px;
 margin-bottom: 10px;
 color: #D8C9AC !important;
}

.active_link {
 background-color: #f26247;
 color: #D8C9AC;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* Specifics */
#vpr_logo{
  display: block;
}

.vpr_table{
	border-radius: 12px;
	border: 2px solid #aaa;
}

.vpr_table > thead {
	background-color: #151515;
	color: #D8C9AC;
}

.vpr_table > tbody > tr > td {
	font-size: 18px;
	font-style: bold;
	line-height: 1.5em;
	font-family: 'Zilla Slab', serif;
	padding-top: 15px;
	padding-bottom: 15px;
}

.vpr_table > tbody > tr > td > a {
	color : #f26247;
}

.vpr_col-abs-center{
	float: none;
	position:absolute;
	left:42%;
	top:30%;
}


.landing_button h1{
	padding: 20px 20px;
}

.landing_button{
	background-color:black;
	font-size:72px;
	color:#eeffff;
	padding: 5px;
	border: 1px solid #eeffff;
	border-radius: 6px;
}
