<nav class="navbar navbar-default primary" style="margin-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-centered">
                <div class="navbar-header">
                    <!-- <a id="logo" href="#"><img src="/images/VPR-Rocks-lg.png" /></a> -->
                    <h1> Vultures Playing Ruckus </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-centered">
                <ul class="nav navbar-nav">
                    <li>
                        <a ng-class="{active_link: $route.current.activetab == 'home'}" href="#!/home">
                            <b>Home</b>
                        </a>
                    </li>
                    <li>
                        <a ng-class="{active_link: $route.current.activetab == 'music'}" href="#!/music">
                            <b>Music</b>
                        </a>
                    </li>
                    <li>
                        <a ng-class="{active_link: $route.current.activetab == 'tour'}" href="#!/tour">
                            <b>Tour</b>
                        </a>
                    </li>
                    <li>
                        <a ng-class="{active_link: $route.current.activetab == 'merch'}" href="#!/merch">
                            <b>Merch</b>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/VultureRock/">
                            <i class="fa fa-facebook-square fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCqC1DiIbTO8E1pyikw5oRNQ/featured">
                            <i class="fa fa-youtube-square fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>