body{
	background-color: #000000;
	font-family:  'Open Sans', 'Arial', 'Sans-Serif';
}

p{
	font-family: 'Open Sans', 'Arial', 'Sans-Serif';
}

.parallax{
	background-image: url("images/band1-min.jpg");
	width: 1920px; 
	height: 1275px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


a.item:hover{
	animation-name: 'hover_in';
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards; 
}

@keyframes hover_in {
	0% { background-color: #262626;}
    100% {background-color: #8c8c8c;} 
}