<nav class="navbar navbar-default primary" style="margin-bottom:0px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-centered">
        <div class="navbar-header">
          <a id="logo" href="#"><img src="/images/VPR-Rocks-lg.png" /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 col-centered">
        <ul class="nav navbar-nav">
          <li><a href="#!/home"><b>Home</b></a></li>
          <li><a href="#!/music"><b>Music</b></a></li>
          <li><a href="#!/tour"><b>Tour</b></a></li>
          <li><a href="#!/tour"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#!/tour"><i class="fa fa-youtube-square fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- Controller -->
<div ng-controller="homeController">
<div class="row">
  <div style="height: 305px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.id}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
  </div>

<div class="row">
</div>




<!-- End of Controller -->
</div>