<nav class="navbar navbar-default primary" style="margin-bottom:0px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-centered">
        <div class="navbar-header">
          <!-- <a id="logo" href="#"><img src="/images/VPR-Rocks-lg.png" /></a> -->
          <h1> Vultures Playing Ruckus </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-centered">
        <ul class="nav navbar-nav">
          <li><a class="active_link" href="#!/home"><b>Home</b></a></li>
          <li><a href="#!/music"><b>Music</b></a></li>
          <li><a href="#!/tour"><b>Tour</b></a></li>
          <li><a href="#!/merch"><b>Merch</b></a></li>
          <li><a href="https://www.facebook.com/VultureRock/"><i class="fa fa-facebook-square fa-lg"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCiOBWT3t_flSnXIsZ8PYAEQ"><i class="fa fa-youtube-square fa-lg"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="row">
  <div ng-control`ler="homeController">
    <div class="col-xs-12">
      <div class="carousel">
        <div class="ng-isolate-scope carousel" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="width:100%; height: 80h !important;">
          <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
            <img ng-src="{{slide.image}}" height="650vh;">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Controller -->
  </div>
</div>
<div class="row">
  <a href="#!/tour">
    <div class="col-xs-4 color_one text-center" style="min-height: 200px !important;">

      <h1 style="padding-top: 50px;"> Tours </h1>

    </div>
  </a>
  <a href="#!/merch">
    <div class="col-xs-4 color_one text-center" style="min-height: 200px !important;">

      <h1 style="padding-top: 50px;"> Merch </h1>

    </div>
  </a>
  <a href="#!/music">
    <div class="col-xs-4 color_one text-center" style=" min-height: 200px!important;">

      <h1 style="padding-top: 50px;"> Music </h1>

    </div>
  </a>
</div>

<div class="row">
  <div class="col-xs-12 color_two text-center" style="min-height: 600px !important;">
    <div class="container">
      <hr />
      <h2 class="feature_header"> About </h2>
      <p class="feature"> Vultures Playing Ruckus (VPR) is a three-piece rock band from London, ON, Canada. Formed in 2013, VPR is about to release
        their second record. The Wild Child EP (out this September) showcases the band’s love for the classics and their
        resistance to conventionality.</p>
      <hr />
    </div>
    <div class="videoWrapper">
      <iframe width="960" height="549" src="https://www.youtube.com/embed/C4r16PVoPRI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="container footer">
    <hr />
    <div class="text-center center-block">
      <p class="txt-railway">- VPRRocks.com -</p>
      <h3> Contact </h3>
      <p>

        Book Us (or other managerial inquiries)<br> Email: ben@ruckusrecords.ca<br>

      </p>
      <br />
      <a href="https://www.facebook.com/VultureRock/"><i class="fa fa-facebook-square fa-3x social"></i></a>
      <!-- <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social"></i></a> -->
      <a href="mailto:vulturesplayingruckus@gmail.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
  </div>